.container {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 60%;
  justify-content: space-evenly;
  /* background-color: cadetblue; */
  background-image: linear-gradient(120deg, #d3cce3, #fff);
  border-bottom: solid 2px;
  border-color: black;
}
.zurag {
  margin-top: 3%;
  position: relative;
  width: 27%;
  height: 18.5vw;
  border-radius: 2px;
}
.about {
  font-family: "Oswald", sans-serif;
  width: 50%;
  margin-left: -7%;
}
.schoolName {
  font-family: "Merriweather", serif;
  margin-top: 25%;
  margin-bottom: -9%;
  font-size: 1.2vw;
}

h1 {
  letter-spacing: 5px;
  font-family: "Bebas Neue", cursive;
  line-height: 4vw;
  font-size: 5vw;
}
